# This file was created by the command:
# steps/nnet3/xconfig_to_configs.py --xconfig-file /home3/jicheng/w2021/lid-xvector/exp-bn/exp-lre17_train_1.5_1.5_30_overlap_27.5s_train/kaldi_xvector/configs/network.xconfig --config-dir /home3/jicheng/w2021/lid-xvector/exp-bn/exp-lre17_train_1.5_1.5_30_overlap_27.5s_train/kaldi_xvector/configs
# It contains the entire neural network.

input-node name=input dim=80
component name=spec-augment.freq-mask type=GeneralDropoutComponent dim=80 specaugment-max-proportion=0.3
component-node name=spec-augment.freq-mask component=spec-augment.freq-mask input=input
component name=spec-augment.time-mask type=SpecAugmentTimeMaskComponent dim=80 zeroed-proportion=0.1 time-mask-max-frames=20
component-node name=spec-augment.time-mask component=spec-augment.time-mask input=spec-augment.freq-mask
component name=tdnn1.affine type=NaturalGradientAffineComponent input-dim=400 output-dim=512  max-change=0.75
component-node name=tdnn1.affine component=tdnn1.affine input=Append(Offset(spec-augment.time-mask, -2), Offset(spec-augment.time-mask, -1), spec-augment.time-mask, Offset(spec-augment.time-mask, 1), Offset(spec-augment.time-mask, 2))
component name=tdnn1.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn1.relu component=tdnn1.relu input=tdnn1.affine
component name=tdnn1.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn1.batchnorm component=tdnn1.batchnorm input=tdnn1.relu
component name=tdnn2.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn2.affine component=tdnn2.affine input=tdnn1.batchnorm
component name=tdnn2.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn2.relu component=tdnn2.relu input=tdnn2.affine
component name=tdnn2.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn2.batchnorm component=tdnn2.batchnorm input=tdnn2.relu
component name=tdnn3.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn3.affine component=tdnn3.affine input=Append(Offset(tdnn2.batchnorm, -2), tdnn2.batchnorm, Offset(tdnn2.batchnorm, 2))
component name=tdnn3.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn3.relu component=tdnn3.relu input=tdnn3.affine
component name=tdnn3.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn3.batchnorm component=tdnn3.batchnorm input=tdnn3.relu
component name=tdnn4.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn4.affine component=tdnn4.affine input=tdnn3.batchnorm
component name=tdnn4.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn4.relu component=tdnn4.relu input=tdnn4.affine
component name=tdnn4.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn4.batchnorm component=tdnn4.batchnorm input=tdnn4.relu
component name=tdnn5.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn5.affine component=tdnn5.affine input=Append(Offset(tdnn4.batchnorm, -3), tdnn4.batchnorm, Offset(tdnn4.batchnorm, 3))
component name=tdnn5.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn5.relu component=tdnn5.relu input=tdnn5.affine
component name=tdnn5.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn5.batchnorm component=tdnn5.batchnorm input=tdnn5.relu
component name=tdnn6.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn6.affine component=tdnn6.affine input=tdnn5.batchnorm
component name=tdnn6.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn6.relu component=tdnn6.relu input=tdnn6.affine
component name=tdnn6.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn6.batchnorm component=tdnn6.batchnorm input=tdnn6.relu
component name=tdnn7.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn7.affine component=tdnn7.affine input=Append(Offset(tdnn6.batchnorm, -4), tdnn6.batchnorm, Offset(tdnn6.batchnorm, 4))
component name=tdnn7.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn7.relu component=tdnn7.relu input=tdnn7.affine
component name=tdnn7.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn7.batchnorm component=tdnn7.batchnorm input=tdnn7.relu
component name=tdnn8.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn8.affine component=tdnn8.affine input=tdnn7.batchnorm
component name=tdnn8.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn8.relu component=tdnn8.relu input=tdnn8.affine
component name=tdnn8.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn8.batchnorm component=tdnn8.batchnorm input=tdnn8.relu
component name=tdnn9.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn9.affine component=tdnn9.affine input=tdnn8.batchnorm
component name=tdnn9.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn9.relu component=tdnn9.relu input=tdnn9.affine
component name=tdnn9.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn9.batchnorm component=tdnn9.batchnorm input=tdnn9.relu
component name=tdnn10.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=1500  max-change=0.75
component-node name=tdnn10.affine component=tdnn10.affine input=tdnn9.batchnorm
component name=tdnn10.relu type=RectifiedLinearComponent dim=1500 self-repair-scale=1e-05
component-node name=tdnn10.relu component=tdnn10.relu input=tdnn10.affine
component name=tdnn10.batchnorm type=BatchNormComponent dim=1500 target-rms=1.0
component-node name=tdnn10.batchnorm component=tdnn10.batchnorm input=tdnn10.relu
component name=stats-extraction-0-10000 type=StatisticsExtractionComponent input-dim=1500 input-period=1 output-period=1 include-variance=true 
component-node name=stats-extraction-0-10000 component=stats-extraction-0-10000 input=tdnn10.batchnorm 
component name=stats-pooling-0-10000 type=StatisticsPoolingComponent input-dim=3001 input-period=1 left-context=0 right-context=10000 num-log-count-features=0 output-stddevs=true 
component-node name=stats-pooling-0-10000 component=stats-pooling-0-10000 input=stats-extraction-0-10000 
component name=embedding1.affine type=NaturalGradientAffineComponent input-dim=3000 output-dim=512  max-change=0.75
component-node name=embedding1.affine component=embedding1.affine input=Round(stats-pooling-0-10000, 1)
component name=embedding1.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=embedding1.relu component=embedding1.relu input=embedding1.affine
component name=embedding1.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=embedding1.batchnorm component=embedding1.batchnorm input=embedding1.relu
component name=embedding2.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=embedding2.affine component=embedding2.affine input=embedding1.batchnorm
component name=embedding2.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=embedding2.relu component=embedding2.relu input=embedding2.affine
component name=embedding2.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=embedding2.batchnorm component=embedding2.batchnorm input=embedding2.relu
component name=output.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=14  max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output.affine component=output.affine input=embedding2.batchnorm
component name=output.log-softmax type=LogSoftmaxComponent dim=14
component-node name=output.log-softmax component=output.log-softmax input=output.affine
output-node name=output input=output.log-softmax objective=linear
